.sort-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 15px;
    width: 15px;
}

.folder-list {
    list-style-type: circle;
    flex-direction: column;
}

.timer

.folder-list li {
    margin-bottom: .5rem;
}

.folder-list a {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid #000;
    text-decoration: none;
    color: grey;
}

.folder-list a:hover {
    background-color: #eee;
}

.folder-size {
    position: relative;
    right: 0;
    padding-left: 500px;
    font-size: 14px;
    color: #999;
}
.folder-container {
    text-align: center;
}

.folder-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.sort-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 470px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.rootPath{
    margin-right: 350px;
    margin-bottom: 10px;
    margin-top:  10px;
}